<%- include("header") -%>

<h1>MB1 SoftWares</h1>
<p>MB1 was founded by Mohammed Abahussain in 2020 which was only to put company name in a maillingchimp for sending emails</p>

<%- include("footer") -%>
